		<div class="container layout">
		<div class="container main-header">
			<div class="row">
				<div class="col-sm-3 site-logo">
					<h1>Hamro</h1>
					<h1>SajhaPasal.com</h1>
				</div>
				<div class="col-sm-9 main-header-right">
					<div class="row main-header-right-top">
						<div class="contact">
							<span>Contact:123123123123123/12312312312</span>
						</div>
						<div class="user-menu" style="font-size:  15px;">
							<ul>
								<li class="wishlist"><span class="glyphicon glyphicon-heart" style="color:orange;"></span> Wishlist</li>
								<li class="login"><%= link_to '<span class="glyphicon glyphicon-user" style="color:orange; "></span> LOGIN / REGISTER'.html_safe , new_user_session_path %></li>
							</ul>	
						</div>
					</div>
					<div class="row main-header-right-bottom">
						<div class="col-sm-11">
							<div class="row">
						<div class="search-option">
							<form>
								<div class="input-group">
									<input style="height:46px; width:760px;"type="text" name="search" placeholder="Search" 	class="form-control">
									<div class="input-group-btn">
										<button style="background: orange;"class="btn btn-default btn-lg" type="submit">
											SEARCH
										</button>
									</div>
									
								</div>
							</form>
						</div>
						</div>
						</div>
						<div class="col-sm-1">
							<div class="row">
						<div class="add-cart" style="float:right; color:blue;  ">
							<button style="border-radius: 50%; background: orange; padding: 6px;" class="btn-sprimary">
								<span class="glyphicon glyphicon-shopping-cart" style="font-size: 25px; "></span>
							</button>
							
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>